@define-color borders_breeze #55555e;
@define-color content_view_bg_breeze #23232f;
@define-color error_color_backdrop_breeze #bb1115;
@define-color error_color_breeze #bf0303;
@define-color error_color_insensitive_backdrop_breeze #5a1820;
@define-color error_color_insensitive_breeze #5a1820;
@define-color insensitive_base_color_breeze #23232f;
@define-color insensitive_base_fg_color_breeze #696970;
@define-color insensitive_bg_color_breeze #23232f;
@define-color insensitive_borders_breeze #34343f;
@define-color insensitive_fg_color_breeze #696970;
@define-color insensitive_selected_bg_color_breeze #23232f;
@define-color insensitive_selected_fg_color_breeze #696970;
@define-color insensitive_unfocused_bg_color_breeze #23232f;
@define-color insensitive_unfocused_fg_color_breeze #696970;
@define-color insensitive_unfocused_selected_bg_color_breeze #23232f;
@define-color insensitive_unfocused_selected_fg_color_breeze #696970;
@define-color link_color_breeze #469af4;
@define-color link_visited_color_breeze #3dfb73;
@define-color success_color_backdrop_breeze #0f6d35;
@define-color success_color_breeze #006e28;
@define-color success_color_insensitive_backdrop_breeze #173d2d;
@define-color success_color_insensitive_breeze #173d2d;
@define-color theme_base_color_breeze #23232f;
@define-color theme_bg_color_breeze #23232f;
@define-color theme_button_background_backdrop_breeze #45464c;
@define-color theme_button_background_backdrop_insensitive_breeze #44454b;
@define-color theme_button_background_insensitive_breeze #44454b;
@define-color theme_button_background_normal_breeze #44454b;
@define-color theme_button_decoration_focus_backdrop_breeze #d45c85;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #7d485e;
@define-color theme_button_decoration_focus_breeze #e64e81;
@define-color theme_button_decoration_focus_insensitive_breeze #7d485e;
@define-color theme_button_decoration_hover_backdrop_breeze #d45c85;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #7d485e;
@define-color theme_button_decoration_hover_breeze #e64e81;
@define-color theme_button_decoration_hover_insensitive_breeze #7d485e;
@define-color theme_button_foreground_active_backdrop_breeze #e9e5e6;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #696970;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #696970;
@define-color theme_button_foreground_backdrop_breeze #e6e6e6;
@define-color theme_button_foreground_backdrop_insensitive_breeze #7e7f83;
@define-color theme_button_foreground_insensitive_breeze #7e7f83;
@define-color theme_button_foreground_normal_breeze #eaeaea;
@define-color theme_fg_color_breeze #eaeaea;
@define-color theme_header_background_backdrop_breeze #252531;
@define-color theme_header_background_breeze #23232f;
@define-color theme_header_background_light_breeze #23232f;
@define-color theme_header_foreground_backdrop_breeze #e5e5e6;
@define-color theme_header_foreground_breeze #eaeaea;
@define-color theme_header_foreground_insensitive_backdrop_breeze #e5e5e6;
@define-color theme_header_foreground_insensitive_breeze #e5e5e6;
@define-color theme_hovering_selected_bg_color_breeze #e64e81;
@define-color theme_selected_bg_color_breeze #e64e81;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #eaeaea;
@define-color theme_titlebar_background_backdrop_breeze #23232f;
@define-color theme_titlebar_background_breeze #23232f;
@define-color theme_titlebar_background_light_breeze #23232f;
@define-color theme_titlebar_foreground_backdrop_breeze #787878;
@define-color theme_titlebar_foreground_breeze #dddddd;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #787878;
@define-color theme_titlebar_foreground_insensitive_breeze #787878;
@define-color theme_unfocused_base_color_breeze #252531;
@define-color theme_unfocused_bg_color_breeze #252531;
@define-color theme_unfocused_fg_color_breeze #e5e5e6;
@define-color theme_unfocused_selected_bg_color_alt_breeze #5e263b;
@define-color theme_unfocused_selected_bg_color_breeze #5e263b;
@define-color theme_unfocused_selected_fg_color_breeze #e9e5e6;
@define-color theme_unfocused_text_color_breeze #e5e5e6;
@define-color theme_unfocused_view_bg_color_breeze #23232f;
@define-color theme_unfocused_view_text_color_breeze #696970;
@define-color theme_view_active_decoration_color_breeze #e64e81;
@define-color theme_view_hover_decoration_color_breeze #e64e81;
@define-color tooltip_background_breeze #212329;
@define-color tooltip_border_breeze #505256;
@define-color tooltip_text_breeze #dddddd;
@define-color unfocused_borders_breeze #55555e;
@define-color unfocused_insensitive_borders_breeze #34343f;
@define-color warning_color_backdrop_breeze #ab8014;
@define-color warning_color_breeze #b08000;
@define-color warning_color_insensitive_backdrop_breeze #54441f;
@define-color warning_color_insensitive_breeze #54441f;
