@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: rgba(0, 0, 0, 0);
    color: #e4a88a;
    font-family: Fira Code, monospace;
    font-size: 14px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 5px;
    padding-right: 5px;
}

.modules-right,
.modules-left {
    margin-top: 16px;
    background-color: rgba(0x1c, 0x1e, 0x26, 0.6);
    border-radius: 6px;
    border-bottom: 1px solid #e4a88a;
}

.modules-left {
    margin-left: 16px;
}

.modules-right {
    margin-right: 16px;
}

.modules-center {
    margin-top: 16px;
    border-bottom: 1px solid #e4a88a;
}

/* -----------------------------------------------------------------------------
 * Module styles
        linear-gradient(#1c1e26) padding-box,
        linear-gradient(to bottom, #e4a88a, #1c1e26) border-box;
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}

#workspaces button {
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #e4a88a;
}

#workspaces button.focused {
    color: #e95378;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

